
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mada', monospace;
} 
p{
  font-family: "Almarai", sans-serif;
}
ul li{
  font-family: "Almarai", sans-serif;
}